.table__header {
    background-color: #e5e5e5;
    height: 40px;
}

table th:first-child{
    border-radius:12px 0 0 12px;
    padding-left: 15px;
  }
  
  table th:last-child{
    border-radius:0 12px 12px 0;
  }

  table {
    border-collapse:separate; 
    border-spacing: 0 1em;
  }

  .greenText{ background-color:green; }

  .blueText{ background-color:blue; }
  
  .redText{ background-color:red; }