.logo {
    width: 200px;
}

.login-content {
    margin: 40px auto;
    width: 500px;
    height: 300px;
    border: 1px solid #ababab;
    flex-direction: column;
    border-radius: 4px;
}

.login-heading {
    transform: translateY(-45px)
}

.google-logo {
    width: 30px;
}

.google-login {
    padding: 6px;
    width: 350px;
    border: 1px solid #ababab;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-text {
    font-size: 12px;
}

.login-link {
    color: #3F90FC;
}